body {
    font: 12px sans-serif;
  }

h2 {
    text-align: center;
    font-size: 2em;
}

h4 {
  text-align: center;
}

svg{
    margin-left: 8em;
}

p {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 8em;
    margin-right: 8em;
    padding: 3px;

}
ul {
  text-align: left;
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 9em;
  margin-right: 9em;
  padding: 3px;
}
  
path {
  stroke-width: 1px;
  stroke: #03d3fc;
  fill: #999;
  cursor: pointer;
}  
  #tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    display: none;
  }